.card {
  position: relative;
  display: grid;
  grid-template-rows: 1fr;
  width: 18em;
  height: 27em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 1.5em -2px rgba(0, 0, 0, 0.3);
  background-color: #9be010;
  background: radial-gradient(#e5f89e, #96e001);
  .controls {
    display: flex;
    justify-content: space-between;
    padding: 0.8em;
    color: #fff;
    height: 3em;
  }
  .i {
    cursor: pointer;
  }
  .picture {
    position: absolute;
    left: -3.5em;
    top: 2em;
    max-width: 110%;
    filter: saturate(150%) contrast(120%) hue-rotate(10deg)
      drop-shadow(1px 20px 10px rgba(0, 0, 0, 0.3));
  }
}

.album {
  padding: 0.1em 1em;
  border-radius: 0 0 1em 1em;
  background-color: #fff;

  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  li {
    float: left;
    width: 4em;
    height: 4em;
    padding: 0.4em;
    border: 0.15em solid #a6a6a6;
    border-radius: 1em;
  }
}
