.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 4em;
  text-align: start;
  background-color: #9be010;
  color: #f4ffdf;
  align-items: center;
  display: flex;
  justify-content: space-between;
  h1 {
    padding: 2em;
  }
  .button {
    color: #314606;
    flex: 1;
    background-color: #9be010;
    border: none;
    height: 100%;
    text-align: center;
    display: inline-block;
    font-size: 2em;
    transition: background-color 0.2s;
    &:hover {
      background-color: #8bd000;
    }
    &:active {
      background-color: #66940a;
    }

    cursor: pointer;
  }
  .logo {
    right: 2em;
    width: 5em;
  }
}
